@import "~bootstrap/scss/bootstrap";
@import "./bootstrap-helpers";
@import "./media";

#fksis-header {
  height: 80px;
  color: $white;
  font-size: 12px;
  background: linear-gradient(bottom, rgb(34, 34, 34) 5%, rgb(68, 68, 68) 53%);
  background: -o-linear-gradient(bottom, rgb(34, 34, 34) 5%, rgb(68, 68, 68) 53%);
  background: -moz-linear-gradient(bottom, rgb(34, 34, 34) 5%, rgb(68, 68, 68) 53%);
  background: -webkit-linear-gradient(bottom, rgb(34, 34, 34) 5%, rgb(68, 68, 68) 53%);
  background: -ms-linear-gradient(bottom, rgb(34, 34, 34) 5%, rgb(68, 68, 68) 53%);
  background: -webkit-gradient(
                  linear,
                  left bottom,
                  left top,
                  color-stop(0.05, rgb(34, 34, 34)),
                  color-stop(0.53, rgb(68, 68, 68))
  );

  #fksis-logo {
    float: left;
    margin-right: 13px;
  }

  #fksis-logo-rblock {
    float: left;
    color: $white;
    margin-top: 13px;
    font-size: 14px;

    #fksis-logo-title {
      line-height: 1;
    }

    #fksis-logo-description {
      color: #c8c8c8;
      font-family: Arial, sans-serif;
      margin: 3px 0 9px;
      font-size: 12px;
    }
  }

  #header-search-bar {
    input, button[type="submit"] {
      height: 33px;
      border-color: #171717;
      background: #ececec; /* Old browsers */
      background: -moz-linear-gradient(top, #ececec 0%, #ffffff 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, #ececec 0%, #ffffff 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, #ececec 0%, #ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ececec', endColorstr='#ffffff', GradientType=0); /* IE6-9 */
    }

    input {
      border-right: none;
    }

    button[type="submit"] {
      border-left: none;
    }

    .btn-outline-secondary {
      color: #444;
    }

    .btn-outline-secondary:hover {
      color: #596068;
    }
  }
}

#fksis-content {
  background: left top url('../images/gradient.png') repeat-x;
  min-height: 500px;
  padding: 25px 0;

  .info-block {
    border: 2px solid #dcdcdc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #ffffff;
    margin-bottom: 25px;

    .info-block-head {
      padding: 6px 10px;
      color: #868686;
      font-size: 11px;
      text-transform: uppercase;
      line-height: 1em;
      border-radius: 4px 4px 0 0;
      -moz-border-radius: 4px 4px 0 0;
      -webkit-border-radius: 4px 4px 0 0;
      background: #f8f8f8; /* Old browsers */
      background: -moz-linear-gradient(top, #f8f8f8 0%, #f1f1f1 95%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, #f8f8f8 0%, #f1f1f1 95%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, #f8f8f8 0%, #f1f1f1 95%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8', endColorstr='#f1f1f1', GradientType=0); /* IE6-9 */
    }

    .info-block-content.info-list .info-list-item {
      border-bottom: 1px dashed #E3E3E3;
      padding: 0.5em 1em;

      .info-item-publish-date {
        font-size: 13px;
        color: #aaa;
      }

      p {
        margin-bottom: 0;
      }

      .info-item-description {
        padding: 0.5em 0;
        line-height: 1.8em;
        font-size: 13px;
        text-align: justify;
      }
    }

    .info-block-content.info-list .info-list-item:last-child {
      border-bottom: none;
    }

    .info-block-footer {
      padding: 0.5em 1em 0.5em 1em;
      border-top: 1px solid #ECECEC;
      font-size: 13px;
      text-transform: lowercase;
    }

    .info-block-content.news-list .info-news-item {
      .info-item-description {
        .info-news-item-image {
          width: 100px;
          max-height: 150px;
          margin-right: 15px;
          float: left;
        }
      }
    }
  }

  #fksis-quick-links {
    a {
      opacity: 0.3;
    }

    a:hover {
      opacity: 1;
    }
  }
}